/*#0563e8*/
* {
  margin: 0px;
  padding: 0px;
}
.footer {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.footer h2 {
  margin: 10px;
}

.footer p {
  margin: 20px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: darkgray;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}
